#navbar {
  background: none;
  margin:20px auto;
}
.nav-elt {
  --accent-color: #b255ed;
  border: 1px solid var(--accent-color);
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--accent-color);
  margin: 0px 10px;
  transition: background-color ease-in 0.2s;
}
.nav-elt:hover, .nav-elt:focus {
  background-color: #b595c9aa;
  --accent-color: #1f1f1f;
  outline: none;
  border:1px solid none;
}
html {
  background: linear-gradient(#322638, #2a1e30) no-repeat;
  height: 100%;
}
body {
  height: 100%;
  color: #f1f1f1;
}