#navbar {
  background: none;
  margin:20px auto;
}
.nav-elt {
  --accent-color: #b255ed;
  border: 1px solid var(--accent-color);
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--accent-color);
  margin: 0px 10px;
  transition: background-color ease-in 0.2s;
}
.nav-elt:hover, .nav-elt:focus {
  background-color: #b595c9aa;
  --accent-color: #1f1f1f;
  outline: none;
  border:1px solid none;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
#page-title {
  margin:auto;
  text-align: center;
}
#article {
  border-radius: 4px;
  background-color: #faf2ff;
  color: #1f3a2f;
  margin: 50px auto;
  padding: 20px;
  /* color: #2f2f2f; */
}
#byline {
  color: #a1a1a1
}
blockquote {
  border-left: 3px solid lightskyblue;
  padding-left: 3px;
}

code {
  background-color: #f1f1f1;
  padding: 5px;
  border-radius: 2px;
}
pre > code {
  width: 75%;
  margin: auto;
  display: block;
}
a {
  color: skyblue;
}
#content {
  margin: auto;
  width: 75%;
}
h1 {
  text-align: center;
}